# Archivos del sistema
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Archivos de entorno virtual
venv/
env/
ENV/
.venv/

# Configuración del editor y sistema operativo
.idea/
.vscode/
*.swp
*~

# Archivos de bases de datos locales
*.sqlite3

# Archivos estáticos y medios generados
staticfiles/
media/

# Archivos de migración
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos creados por pytest
.pytest_cache/
